.istex-facets {
  .istex-facets-title {
//    font-size: small;
    padding: 0; margin: 0;
    text-align: center;
  }

  .istex-facet {
    padding: 0; margin: 0;

    .istex-facet-name {
      padding: 0; margin: 0;
//      font-size: large;
//      text-decoration: underline;
    }
    
    .istex-facet-corpus {
      padding: 0; margin: 0;
      list-style-type: none;

      .istex-facet-corpus-badge {
        float: right;

        display: inline-block;
        min-width: 10px;
        padding: 1px 4px 1px 4px;
        font-size: small;
        font-weight: bold;
        color: #FFF;
        background-color: #5A99B0;
        border-radius: 4px;
      }    
    }
  }

}