
.istex-ezproxy-auth-btn {
  position: relative;
  padding: 8px;
  div {
    background-image: url(auth-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    width: 26px;
    height: 6px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.istex-auth-popup-error {
  display: none;
  margin: 5px 0 0 0;
  padding: 0;
  font-size: small;
  color: #DD4B39;
}